[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
jupyter = "*"
notebook = "*"
yapf = "*"
pylint = "*"
invoke = "*"
flake8 = "*"
pytest = "*"
isort = "*"

[packages]
pandas = "*"
python-levenshtein = "*"

[requires]
python_version = "3.7"
